#mapa {
	height: 400px;
	width: 60%;
	margin: 100px auto;
}

#botoes {
	margin-bottom: 10px;
}

#header {
	background-color: #F64646 !important;
}

#brand {
	font-weight: bold;
}

button {
	background-color: #FFA400;
	color: white;
	font-weight: bold;
}
  